[submodule "slide-share-server"]
	path = slide-share-server
	url = https://github.com/TECH-C-LT/slide-share-server
[submodule "slide-share-web"]
	path = slide-share-web
	url = https://github.com/TECH-C-LT/slide-share-web
